<%page args="artist, image, shortbio, fullbio, stylesheet, datasource, album, art_links, alb_links, link_images, similar" />
<%!
    import re
    import cgi
    remove_links = re.compile ('</?a[^>]*> ',re.VERBOSE)
    
    def cleanup(text):
        if text is None:
            return _("No information available")
        text = remove_links.sub ('', text)
        text = text.replace('\n', '</p><p>')
        return text
%>
<html>
<head>
<meta http-equiv="content-type" content="text-html; charset=utf-8">
<link rel="stylesheet" href="${stylesheet}" type="text/css" />

<script language="javascript">
    function swapText (element, text1, text2) {
        elt = document.getElementById(element);
        var retval = (elt.innerHTML == text1)
        elt.innerHTML = (elt.innerHTML == text1) ? text2 : text1;
        return (retval==false)
    }
    function toggle_filter(id, filterval) {
        // first toggle the chosen button label
        hide = ${ '"' + _("Unfilter") + '"' };
        show = ${ '"' + _("Filter") + '"' };
        var toggle = swapText('btn_'+id, hide, show);
        
        // next ensure all buttons except for the chosen button is correctly labelled
        var menus = document.getElementsByTagName("button");
        var x = parseInt(id, 10);
        for (var i = menus.length - 1; i >= 0; i--)
        {
            if (i != x) {
                elt = document.getElementById('btn_'+i);
                elt.innerHTML = show;
            }
        }
         
        // lastly send back the value of the button i.e. the artist name
        var obj = { }
        obj['artist'] = filterval;
        obj['toggle'] = toggle;
        document.title = JSON.stringify(obj);
    };
</script>

<style type="text/css">

.shown p,
.similar td,
.links a
{    
    font-size: 10pt;
    font-family: sans-serif;
    vertical-align: middle;
}

.links img 
{ padding: 0 5px 0 5px }

.links ul 
{ list-style-type: none }

</style>
</head>
<body class="artist">
%if error is None:
<h1>${artist | h}</h1>
<img src="${image | h}" />
<div id="shortbio" class="shown">
    <% shortbio = cleanup(shortbio) %>
    <p>${shortbio}</p>
</div>

<div class="links">
    <h1>${ _("Links for %s:") % ("<em>" + artist + "</em>")}</h1>
    <ul>
        %for k, v in art_links.items() :
            <li><img src="${link_images}${k}16x16.png" /><a href="${v}">${k}</a></li>
        %endfor
    </ul>
    %if len(alb_links) > 0:
        <h1>${ _("Links for %s:") % ("<em>" + album + "</em>")}</h1>
    %endif
    <ul>
        %for k, v in alb_links.items() :
            <li><img src="${link_images}${k}16x16.png" /><a href="${v}">${k}</a></li>
        %endfor
</ul>
</div>

<div class="similar">
<h1>${ _("Similar Artists") }</h1>

<table id="similar">
    
%for i, entry in enumerate(similar) :
    <% artist = entry['name'] %>
    <tr>
        <td rowspan="2">
            <img style="float: right;" width="64" src="${entry['image_url'] | h}" alt="${entry['image_url'] | h}"/>
        </td>
        <td>
            ${entry['name']} ${entry['similarity']}% ${ _("similar") }
        </td>
    </tr>
    <tr>
        <td>
            <button id="btn_${i | h}" onclick="toggle_filter('${i | h}', '${artist | h}')">
                ${ _("Filter") }
            </button>
        </td>
    </tr>
%endfor
</table>
</div>

<p>${datasource}</p>
%else:
<h1>${ _("Unable to retrieve artist information:") }</h1>
<p class="error">${error | h}</p>
%endif

</body>
</html>
