body { font-size: 8pt; padding: 6px; line-height: 1.4em;  }
#heading {font-size: 10pt; text-align: center; background-color: #555; color: white;}
.srchresult {margin: 5px; width: 125px; height: 125px; float: left;}
#searchtext {width:15em}
#searchmode {width:15em}
#content {overflow: auto}
#more {display:none}
